$color-primary: #71c9f8;
$color-secondary: #15212b;

.container {
    padding: 1rem;
}
.ctn_tweets {
    margin: 60px;
    margin-left: 0;
    text-align: center;
    // justify-self: start;
}
.create_tweet {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    textarea {
        resize: none; 
    }
    button {
        width: 100px;
        border-radius: 0;
        height: fit-content;
    }
}
.list_tweets {
    // border: 1px solid white;
    div {
        background-color: rgba(255, 255, 255, 0.699);
        width: 100%;
        border: 1px solid white;
        text-align: start;
        margin-top: 1rem;
        border: 3px solid white;
        border-radius: 12px;
        a {
            color: rgb(9, 6, 185);
            margin-left: 1rem;
            font-weight: 600;
            font-size: 1.5em;
            text-decoration: underline;
        }
        p {
            text-align: end;
            margin-right: 1rem;
        }
        h2 {
            text-align: end;
            margin: 0;
            font-size: 18px;
        }
    }
}

.menu {
    // margin-top: 60px;
    font-family: 'Trebuchet MS';
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(4, 14, 22, 0.507);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 6vh;
    width: 100%;
    a {
        margin-left: 10px;
    }
}
.users {
    margin-top: 5rem;
    margin-left: 1rem;    
    h1 {
        color: white;
    }
    
    .user {
        margin-top: 1rem;
        a {
            font-size: 18px;
            text-decoration: underline;
            margin-left: 1rem;
        }
    }
}